

.btn.btn-default {
    width: 140px;
    height: 38px;
    margin-left: 5px;
    margin-top: -2px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.btn.btn-no-caption {
    width: 38px;
    height: 38px;
    margin-left: 4px;
    margin-top: -2px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.btn.btn-add {
    background-color: black;
    color: white;
    font-weight: normal;
}


.btn.btn-print {
    background-color: black;
    color: white;
    font-weight: normal;
}


.btn.btn-restore {
    background-color: black;
    color: white;
    font-weight: normal;
}


.btn.btn-save {
    background-color: green;
    color: white;
    font-weight: normal;
}


.btn.btn-cancel {
    background-color: red;
    color: white;
    font-weight: normal;
}


.btn.btn-search {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}