<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/book_icon_24.png" />
</head>

<body>

    <header id="main-menu">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" id="navbar">
                <a class="navbar-brand" asp-area="" asp-controller="Book" asp-action="Details" id="logo">Biblioteca</a>
                <div id="navbar-right">
                    <a asp-controller="Book" asp-action="Details" id="menu-1">Livro</a>
                    <a asp-controller="Book" asp-action="Manage" id="menu-2">Acervo</a>
                    <a asp-controller="Discard" asp-action="Manage" id="menu-3">Descarte</a>
                    <a asp-controller="Donation" asp-action="Manage" id="menu-4">Doação</a>
                    <a asp-controller="Loan" asp-action="Manage" id="menu-5">Empréstimo</a>
                    <a asp-controller="Person" asp-action="Manage" id="menu-6">Pessoa</a>
                    <a asp-controller="User" asp-action="Manage" id="menu-7">Usuário</a>
                    <a asp-controller="Log" asp-action="Log" id="menu-9">Log</a>
                    <a asp-controller="Home" asp-action="About" id="menu-8">Sobre</a>
                    <a asp-controller="Login" asp-action="Logout" id="menu-10"><img class="m-2" sizes="16x16" src="~/img/exit_icon_24.png" />Sair</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" id="content-area">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="page-footer">
        <div class="container">
            &copy; 2025 - Biblioteca
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>