

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


a {
    color: #0077cc;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}


.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


h5 {
    font-family: system-ui, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    color: green;
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color), calc( var(--x-offset) - var(--stroke) ) calc( var(--y-offset) + var(--stroke) ) 0px var(--stroke-color);
}


@supports ( text-shadow: 2px 2px 2px 2px black ) {
    h1 {
        text-shadow: var(--x-offset) var(--y-offset) 0px 0px var(--background-color), var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);
    }
}