@using Library.Db.Models
@model PersonModel


@{
    ViewData["title"] = "Cadastrar Pessoa";
}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="false" />

}


<div class="conteiner-fluid">

    
    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="person-form" method="post" asp-controller="Person" asp-action="Register">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between mb-3">

            <h4>Cadastrar Pessoa</h4>

            <div class="d-flex justify-content-between">

                <button id="save-button" type="submit" class="btn btn-success d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-right:5px;margin-top:-2px;">
                    <img class="m-0" src="~/img/save_icon_16.png" /> &nbspSalvar
                </button>

                <a id="cancel-button" class="btn btn-danger d-flex justify-content-center align-items-center" style="width:150px;height:38px;margin-top:-2px;" asp-controller="Person" asp-action="Manage">
                    <img class="m-0" src="~/img/cancel_icon_16.png" /> &nbspCancelar
                </a>

            </div>

        </div>


        @{
            await Html.RenderPartialAsync("~/Views/Person/_PersonPartial.cshtml", Model);
        }


    </form>


</div>


<div id="spinner" class="spinner" style="display: none; position:absolute"></div>


@section Scripts {

    <script src="~/js/register-person.js" asp-append-version="true"></script>

}