@using Library.Db.Models

@*

    Página para edição do cadastro de um livro. 

*@


@model BookModel


@{
    ViewData["title"] = "Editar Livro";
}


@section Styles {

    <link rel="stylesheet" href="~/css/image-view.css" asp-append-version="true" />
  
    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="false" />

    <link rel="stylesheet" href="~/css/register-container.css" asp-append-version="true" />

}


<div class="register-container">


    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="book-form" method="post" asp-controller="Book" asp-action="Edit">


        @Html.AntiForgeryToken()


        @*Cabeçalho da página. Contém o título da página e os botões "Salvar" e "Cancelar".*@

        <div class="d-flex justify-content-between mb-3">

            @*Título da página (à esquerda).*@

            <h4>Editar Livro</h4>

            @*Botões "Salvar" e "Cancelar" (à direita).*@

            <div class="d-flex justify-content-between">

                <button id="save-button" class="btn btn-save btn-default" type="submit">
                    <img class="m-0" src="~/img/save_icon_16.png" /> &nbsp;Salvar
                </button>

                <a id="cancel-button" class="btn btn-cancel btn-default" asp-controller="Book" asp-action="Manage">
                    <img class="m-0" src="~/img/cancel_icon_16.png" /> &nbsp;Cancelar
                </a>

            </div>

        </div>

        <hr />


        <input type="hidden" asp-for="Id"/>


        @*Renderiza o layout para edição dos atributos de um livro.*@

        @{
            await Html.RenderPartialAsync("~/Views/Book/_BookPartial.cshtml", Model);
        }
        

    </form>


</div>


<div id="spinner" class="spinner" style="display: none; position:absolute"></div>


@section Scripts {

    <script type="module" src="~/js/edit-book.js" asp-append-version="true"></script>
        
    <script type="module" src="~/js/decode-cover.js" asp-append-version="true"></script>

}