@*
    Página para a exibição dos detalhes de um livro. Todos os campos estarão vazios, pois não
    há livros cadastrados ainda.
*@


@using Library.Services.User
@using Library.Utils


@inject ISettingsService settings;


@{

    ViewData["Title"] = "Detalhes do Livro";

    var pageBackgroudColor = settings.GetString(
        Constants.PAGE_BACKGROUND_COLOR_KEY,
        Constants.DEFAULT_PAGE_BACKGROUND_COLOR
    );

}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/book-details.css" asp-append-version="false" />

    <style>

        #btn-tab-1, #btn-tab-2 {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

        #btn-tab-1.active, #btn-tab-2.active {
            border-bottom: 1px solid @pageBackgroudColor;
        }

    </style>

}


@*Conteúdo da página.*@

<div class="container-fluid">


    @await Html.PartialAsync("_MessageErrorPartial")


    @*
        Cabeçalho da página, que contém o título da página e a barra de navegação. O título
        da página fica à esquerda da tela e barra de navegação à direita.
    *@

    <div class="d-flex justify-content-between">


        @*Título da página (à esquerda).*@

        <h4>Detalhes do Livro</h4>


        @*Barra de navegação (à direita).*@

        <div id="nav-buttons" style="margin-top:-4px;">

            @*Botões de navegação (Primeiro |<, Anterior <, Próximo >, Último >|).*@

            <a id="button-first" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/first_item_icon.png" />
            </a>
            
            <a id="button-previous" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/previous_item_icon.png" />
            </a>

            <a id="button-next" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/next_item_icon.png" />
            </a>
            
            <a id="button-last" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/last_item_icon.png" />
            </a>

            @*Botão pesquisar.*@

            <button id="button-filter" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/search_item_icon.png" />
            </button>

            @*Botão imprimir.*@

            <a id="button-print" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/printer_icon_16_w.png" />
            </a>

            @*Botão imprimir livros cadastrados.*@

            <a id="button-print-collection" class="btn btn-primary nav-button" style="pointer-events: none;background-color:darkgrey;">
                <img class="m-0" src="~/img/multifiles_icon_16.png" />
            </a>

        </div>


    </div>


    @*
        Corpo da página, para exibição dos detalhes do livro. À esquerda da página se encontra
        a imagem da capa. Adiante da capa, na primeira aba, se encontra os campos com os detalhes 
        do livro, que se constitui do título, subtítulo, autor, editora, ISBN, edição, volume, 
        ano da publicação, número de páginas, data da aquisição, e também a situação do livro, 
        se emprestado, doado, descartado ou disponível. Na segunda aba, se encontra a sinopse
        do livro.
    *@

    <div class="row g-3" display="flex" style="margin-top:10px;">


        @*Imagem da capa do livro (carrega uma imagem padrão).*@

        <div id="image-view" class="mb-2 col-sm-2" style="position:absolute;margin-top:-8px;margin-left:0px;">
            <img id="img-preview" src="~/img/no_book_cover.png" class="center" />
        </div>


        @*Cria o painel com 2 abas.*@

        <div id="book-details" class="mb-2 col-sm-2" style="position:relative;flex-grow:1;margin-left:355px">


            @*
                Cria as abas. A primeira aba tem o título "Detalhes". A segunda aba tem o título 
                "Sinopse".
            *@

            <ul id="tab-buttons" class="nav nav-tabs" role="tablist">

                <li class="nav-item" role="presentation">
                    <button id="btn-tab-1" style="background-color:inherit;" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab">
                        Detalhes
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button id="btn-tab-2" style="background-color:inherit;" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab">
                        Sinopse
                    </button>
                </li>

            </ul>


            @*Área para exibição dos detalhes do livro.*@

            <div id="tabs-content" class="tab-content" style="margin-top:10px;">


                @*
                    Painel da Aba 1 (Detalhes). Exibe os campos sobre o livro: titulo, subtítulo
                    autor, editora, ISBN, edição, volume, ano de publicação, número de páginas,
                    data da aquisição e situação.
                *@

                <div id="tab-1" class="tab-pane fade show active" role="tabpanel">

                    <div class="row g-3" display="flex">

                        @*Campo para exibição do título do livro.*@

                        <div class="mb-3 col-sm-2" style="width:85%;">
                            <label for="title" class="form-label">Título</label>
                            <input id="title" type="text" class="form-control" style="background-color:white;" disabled>
                        </div>

                        @*Campo para exibição da situação do livro.*@

                        <div class="mb-3 col-sm-2" style="width: 15%">

                            <label for="status" class="form-label">Situação</label>

                            <input id="status" type="text" class="form-control" style="background-color:white;" disabled>

                        </div>

                    </div>

                    @*Campo para exibição do subtítulo do livro.*@

                    <div class="mb-3">
                        <label for="subtitle" class="form-label">Subtítulo</label>
                        <input id="subtitle" type="text" class="form-control" style="background-color: white;" disabled>
                    </div>

                    @*Campo para exibição do autor do livro.*@

                    <div class="mb-3">
                        <label for="author" class="form-label">Autor</label>
                        <input id="author" type="text" class="form-control" style="background-color:white;" disabled>
                    </div>

                    @*Campo para exibição da editora do livro.*@

                    <div class="mb-3">
                        <label for="publisher" class="form-label">Editora</label>
                        <input id="publisher" type="text" class="form-control" style="background-color:white;" disabled>
                    </div>

                    <div class="row g-3" display="flex">

                        @*Campo para exibição do ISBN do livro.*@

                        <div class="mb-3 col-sm-2">
                            <label for="isbn" class="form-label">ISBN</label>
                            <input id="isbn" type="text" class="form-control" style="background-color:white;" disabled>

                        </div>

                        @*Campo para exibição da edição do livro.*@

                        <div class="mb-3 col-sm-2">
                            <label for="edition" class="form-label">Edição</label>
                            <input id="edition" type="number" min="1" class="form-control" style="background-color:white;" disabled>
                        </div>

                        @*Campo para exibição do volume do livro.*@

                        <div class="mb-3 col-sm-2">
                            <label for="volume" class="form-label">Volume</label>
                            <input id="volume" type="number" min="1" class="form-control" style="background-color:white;" disabled>
                        </div>

                        @*Campo para exibição do ano de publicação do livro.*@

                        <div class="mb-3 col-sm-2">
                            <label for="release-year" class="form-label">Publicação</label>
                            <input id="release-year" type="number" min="1" class="form-control" style="background-color:white;" disabled>
                        </div>

                        @*Campo para exibição do número de páginas do livro.*@

                        <div class="mb-3 col-sm-2">
                            <label for="num-of-pages" class="form-label">Nº de páginas</label>
                            <input id="num-of-pages" type="number" min="1" class="form-control" style="background-color:white;" disabled>
                        </div>

                        @*Campo para exibição da data de aquisição do livro.*@

                        <div class="mb-3 col-sm-2">
                            <label for="acquisition-date" class="form-label">Aquisição</label>
                            <input id="acquisition-date" type="text" class="form-control" style="background-color:white;"  disabled>
                        </div>

                    </div>

                </div>


                @*
                    Painel da Aba 2 (Sinopse). Exibe a sinopse do livro.
                *@

                <div id="tab-2" class="tab-pane fade" role="tabpanel">

                    @*Campo para exibição da sinopse do livro.*@

                    <textarea id="summary" class="form-control" style="resize:none;background-color:white;height:413px;"  disabled></textarea>

                </div>


            </div>


        </div>


    </div>


</div>