@using Library.Services.Model.Dto

@model UserDto

<div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input id="name" type="text" class="form-control" asp-for="Name" placeholder="Nome completo" autocomplete="off">
    <span class="text-danger" asp-validation-for="Name"></span>
</div>

<div class="mb-3">
    <label for="user-name" class="form-label">Usuário</label>
    <input id="user-name" type="text" class="form-control" asp-for="UserName" placeholder="Nome da usuário" autocomplete="off">
    <span class="text-danger" asp-validation-for="UserName"></span>
</div>

<div class="mb-3">
    <label for="password" class="form-label">Senha de acesso</label>
    <input id="password" type="password" class="form-control" asp-for="Password" placeholder="Senha de acesso" autocomplete="new-password">
    <span class="text-danger" asp-validation-for="Password"></span>
</div>

<div class="mb-3">
    <label for="conf-password" class="form-label">Confirme a senha</label>
    <input id="conf-password" type="password" class="form-control" asp-for="ConfPassword" placeholder="Confirmação da senha de acesso" autocomplete="new-password">
    <span class="text-danger" asp-validation-for="ConfPassword"></span>
</div>