@using Library.Dto

@model UserDto


@{

    ViewData["title"] = "Editar Usuário";

}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

}


<div class="conteiner bg-white">

    
    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="user-form" method="post" asp-controller="User" asp-action="Edit">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between alignalign-items-center mb-5">

            <h3>Editar Usuário</h3>

            <div>

                <button type="submit" class="btn btn-success left" style="width:200px;margin-right:10px">Salvar</button>

                <a class="btn btn-primary left" style="width:200px" asp-controller="User" asp-action="Manage">Cancelar</a>

            </div>

        </div>


        <div class="mb-5"></div>


        @{
            await Html.RenderPartialAsync("~/Views/User/_UserPartial.cshtml", Model);
        }


        @Html.HiddenFor(u => u.Id)
        @Html.HiddenFor(u => u.Role)


    </form>


</div>


@section Scripts {

    <script type="module" src="~/js/edit-user.js" asp-append-version="true"></script>

}