@using Library.Dto

@model UserDto


@{
    
    ViewData["title"] = "Cadastrar Administrador";
    
    int? role = ViewBag.UserRole as int?;

}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta charset="utf-8" />

}


<div class="conteiner bg-white">


    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="adm-form" method="post" enctype="multipart/form-data" asp-controller="User" asp-action="RegisterAdm">


        @Html.AntiForgeryToken()


        <div class="d-flex justify-content-between alignalign-items-center mb-5">

            <h3>Cadastrar Administrador</h3>

            <div>

                <button id="save-button" type="submit" class="btn btn-success left" style="width:200px;margin-right:10px">Salvar</button>

                <a id="cancel-button" class="btn btn-primary left" style="width:200px" asp-controller="Login" asp-action="Login">Cancelar</a>

            </div>

        </div>
        

        <div class="mb-5"></div>


        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input id="name" type="text" class="form-control" asp-for="Name" placeholder="Nome completo" autocomplete="off">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>


        <div class="mb-3">
            <label for="user-name" class="form-label">Usuário</label>
            <input id="user-name" type="text" class="form-control" asp-for="UserName" placeholder="Nome da usuário" autocomplete="off">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Senha de acesso</label>
            <input id="password" type="password" class="form-control" asp-for="Password" placeholder="Senha de acesso" autocomplete="off">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>


        <div class="mb-3">
            <label for="conf-password" class="form-label">Confirme a Senha</label>
            <input id="conf-password" type="password" class="form-control" asp-for="ConfPassword" placeholder="Confirmação da senha de acesso" autocomplete="off">
            <span class="text-danger" asp-validation-for="ConfPassword"></span>
        </div>


        <div id="spinner" class="spinner" style="display: none;"></div>


        @Html.Hidden("Role", role)


    </form>


</div>


@section Scripts {
    
    <script src="~/js/register-adm.js" asp-append-version="true"></script>

}