@{
    ViewData["Title"] = "Sobre";
}


@section Styles {

    <style>

        body {
            position: relative;
        }

        .conteiner {
            position: relative;
        }

        .top-right {
            position: absolute;
            top: 0px;
            right: 0px;
        }

    </style>

}


<div class="conteiner">

    <div class="text">  

        <p>
            <b>Versão:</b> 1.1
            <br />
            <br />
            <b>Autor:</b> Leandro Ap. de Almeida
            <br />
            <br />
            <b>Data:</b> 14/11/2025
        </p>

    </div>

    <a class="btn btn-success d-flex justify-content-center align-items-center top-right"
       style="width:160px;height:38px;"
       href="javascript:void(0);"
       onclick="openTutorial();">
       Abrir o Tutorial
    </a>


</div>


@section Scripts {

    @*
        Abre a tela, caso o tutorial não esteja sendo exibido, do contrário, exibe a
        tela que está oculta.
    *@

    <script>

        let tutorialWindow = null;

        function openTutorial() {

            const width = Math.floor(screen.width * 0.95);
            const height = Math.floor(screen.height * 0.8);
            const left = Math.floor((screen.width - width) / 2);
            const top = Math.floor((screen.height - height) / 2);

            const specs = `width=${width},height=${height},left=${left},top=${top},resizable=yes,scrollbars=yes`;

            if (tutorialWindow && !tutorialWindow.closed) {
                tutorialWindow.focus();
            } else {
                tutorialWindow = window.open('/Help/Index', '_blank', specs);
            }

        }

    </script>

}