@{
    ViewData["Title"] = "Sobre";
}


@section Styles {

    <style>

        body {
            position: relative;
        }

        .conteiner {
            position: relative;
        }

        .top-right {
            position: absolute;
            top: 0px;
            right: 0px;
        }

    </style>

}


<div class="conteiner">

    <div class="text">  

        <p>
            <b>Versão:</b> 1.1
            <br />
            <br />
            <b>Autor:</b> Leandro Ap. de Almeida
            <br />
            <br />
            <b>Data:</b> 23/06/2025
        </p>

    </div>

    <a class="btn btn-success d-flex justify-content-center align-items-center top-right" style="width:160px;height:38px;" asp-controller="Home" asp-action="Help" target="_blank">
        Abrir o Tutorial
    </a>


</div>