@*
    Layout para a página de login. A página de login não têm menu, apenas a logomarca
    da aplicação na parte superior da página.
*@

<!DOCTYPE html>

<html lang="pt-br">


    <head>

        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Biblioteca: @ViewData["Title"]</title>
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
        
        <link rel="icon" type="image/png" sizes="16x16" href="~/img/house_icon_24.png" />

        @*Renderiza o conteúdo da seção Styles de uma página.*@

        @await RenderSectionAsync("Styles", required: false)

    </head>


    <body>


        @*
            Renderiza o conteúdo da página que está sendo exibida no layout. Apenas duas páginas podem ser
            exibidas com este Layout: login e cadastro de administrador.
        *@

        <div id="content-area" class="container-fluid">
            @RenderBody()
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                $(document).keydown(function(event) {
                    switch(event.keyCode) {
                        case 112: {
                            event.preventDefault();
                            var newWindow = window.open('/Home/HelpFirstAccess', '_blank');
                            if (newWindow) {
                                newWindow.focus();
                            } else {
                                alert('Por favor, permita pop-ups para este site.');
                            }
                            break;
                        }
                    }
                });
            });

        </script>


        @*Renderiza o conteúdo da seção Scripts de uma página.*@

        @await RenderSectionAsync("Scripts", required: false)


    </body>


</html>