@*
    Layout para a página de login. A página de login não têm menu, apenas a logomarca
    da aplicação na parte superior da página.
*@

<!DOCTYPE html>

<html lang="pt-br">


    <head>

        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Biblioteca: @ViewData["Title"]</title>
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/controls.css" asp-append-version="true" />
        
        <link rel="icon" type="image/png" sizes="16x16" href="~/img/house_icon_24.png" />

        @*Renderiza o conteúdo da seção Styles de uma página.*@

        @await RenderSectionAsync("Styles", required: false)

    </head>


    <body>


        @*
            Renderiza o conteúdo da página que está sendo exibida no layout. Apenas duas páginas podem ser
            exibidas com este Layout: login e cadastro de administrador.
        *@

        <div id="content-area" class="container-fluid">
            @RenderBody()
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript">

            $(document).ready(function () {

                $(document).keydown(function(event) {

                    switch(event.keyCode) {

                        case 112: {

                            event.preventDefault();

                            break;
                        }

                    }

                });

            });

        </script>

        @*
        <script type="text/javascript">

            let tutorialWindow = null;

            $(document).ready(function () {

                $(document).keydown(function(event) {

                    switch(event.keyCode) {

                        case 112: {

                            event.preventDefault();

                            const width = Math.floor(screen.width * 0.95);
                            const height = Math.floor(screen.height * 0.8);
                            const left = Math.floor((screen.width - width) / 2);
                            const top = Math.floor((screen.height - height) / 2);

                            const specs = `width=${width},height=${height},left=${left},top=${top},resizable=yes,scrollbars=yes`;

                            if (tutorialWindow && !tutorialWindow.closed) {
                                tutorialWindow.focus();
                            } else {
                                tutorialWindow = window.open('/Help/HelpFirstAccess', '_blank', specs);
                            }


                            break;
                        }

                    }

                });

            });

        </script>
        *@


        @*Renderiza o conteúdo da seção Scripts de uma página.*@

        @await RenderSectionAsync("Scripts", required: false)


    </body>


</html>