@using Library.Utils;
@using Library.Dto;

@model LoginDto

@{

    ViewData["title"] = "Login";

    Layout = Constants.LOGIN_LAYOUT;

    Boolean registeredAdmin = ViewBag.RegisteredAdmin;

}

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta charset="utf-8" />

</head>

<body>

    @if (TempData[Constants.SUCCESS_MESSAGE] != null) {
        <div class="alert alert-success text-black" role="alert">
            @TempData[Constants.SUCCESS_MESSAGE]
        </div>
    }

    @if (TempData[Constants.ERROR_MESSAGE] != null) {
        <div class="alert alert-danger text-black" role="alert">
            @TempData[Constants.ERROR_MESSAGE]
        </div>
    }

    <div class="conteiner">

        <form id="login-form" method="post" asp-asp-controller="Login" asp-action="Login">

            @Html.AntiForgeryToken()

            <div id="login-container">

                <div class="mb-5">

                    <h5 class="mb-4" style="color:white">Controle de acesso</h5>

                    <hr style="border: 2px solid white;">

                </div>

                <div class="mb-3">
                    <label for="user-name" class="form-label" style="color:white; font-weight:bold;">Usuário</label>
                    <input id="user-name" type="text" class="form-control" asp-for="UserName">
                </div>

                <div class="mb-5">
                    <label for="password" class="form-label" style="color:white;font-weight:bold;">Senha</label>
                    <input id="password" type="password" class="form-control" asp-for="Password">
                </div>

                <div id="spinner" class="spinner" style="display: none;"></div>

                <div id="buttons" class="mt-5">

                    <button id="login-button" type="submit" class="btn btn-light" 
                    style="width: 200px;height:38px;margin-right:10px;">Entrar</button>
                    
                    @if (!registeredAdmin) {
                        <a class="btn btn-light" asp-controller="User" asp-action="RegisterAdm" 
                        style="width: 200px;height:38px;margin-right:10px;">Cadastrar Admin.</a>
                    }

                </div>

            </div>
        
        </form>

    </div>

    <script src="~/js/login.js" asp-append-version="true"></script>

</body>