@{
    ViewData["Title"] = "Sobre";
}

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner bg-white">

        <div id="version-info">
            <p>
                <h5>Sistema para gestão do acervo pessoal.</h5>
            </p>
        </div>

        <br />

        <div class="text" >
            <p><b>Versão:</b> 1.0.0</p>
            <p><b>Autor:</b> Leandro Ap. de Almeida</p>
            <p><b>Data:</b> 30/12/2024</p>
        </div>

    </div>

</body>

</html>