
@{
    ViewData["Title"] = "Sobre";
}

@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

}

<div class="conteiner bg-white">

    <div class="d-flex justify-content-between align-items-center mb-1">

        <div class="text">

            <p><b>Versão:</b> 1.0.0</p>

            <p><b>Autor:</b> Leandro Ap. de Almeida</p>

            <p><b>Data:</b> 17/01/2025</p>

        </div>

    </div>

</div>