@{
    ViewData["Title"] = "Sobre";
}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

}


<div class="conteiner bg-white">

    <div class="text">

        <p>Copyright (c) 2025 Biblioteca</p>

        <p>
            Por meio deste, é concedida permissão, gratuitamente, a qualquer pessoa que obtenha uma cópia
            deste software e dos arquivos de documentação associados (o "Software") para lidar com o mesmo,
            sem restrição, incluindo, sem limitação, os direitos de usar, copiar, modificar, mesclar, publicar,
            distribuir, sublicenciar e/ou vender cópias do Software, e permitir às pessoas a quem o Software
            é fornecido a fazê-lo, sujeitas às seguintes condições:
        </p>

        <p>
            O aviso de copyright acima e este aviso de permissão devem ser incluídos em todas as cópias ou partes
            substanciais do Software.
        </p>

        <p>
            O SOFTWARE É FORNECIDO "COMO ESTÁ", SEM GARANTIA DE QUALQUER TIPO, EXPRESSA OU IMPLÍCITA, INCLUINDO,
            MAS NÃO SE LIMITANDO ÀS GARANTIAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UM DETERMINADO FIM E NÃO VIOLAÇÃO. 
            EM NENHUM CASO OS AUTORES OU DETENTORES DOS DIREITOS AUTORAIS SERÃO RESPONSÁVEIS POR QUALQUER 
            REIVINDICAÇÃO, DANO OU OUTRA RESPONSABILIDADE, SEJA EM UMA AÇÃO DE CONTRATO, DELITO OU DE OUTRA FORMA,
            DECORRENTE DE, FORA DE OU EM CONEXÃO COM O SOFTWARE OU O USO OU OUTRAS TRANSAÇÕES NO SOFTWARE.
        </p>

        <hr />   

        <p>
            <b>Versão:</b> 1.0.0
            <br />
            <b>Autor:</b> Leandro Ap. de Almeida
            <br />
            <b>Data:</b> 10/02/2025
            <br />
            <b>Código-fonte:</b>
            <a target="_blank" href="https://github.com/LeandroApAlmeida/Biblioteca">
                https://github.com/LeandroApAlmeida/Biblioteca
            </a>
        </p>

    </div>

</div>