
@*

    Página para edição do cadastro de um livro. 

*@


@model BookModel


@{
    ViewData["title"] = "Editar Livro";
}


@section Styles {

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/image-view.css" asp-append-version="true" />

}


<div class="conteiner">


    @await Html.PartialAsync("_MessageErrorPartial")


    <form id="book-form" method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="Edit">


        @Html.AntiForgeryToken()


        @*Cabeçalho da página. Contém o título da página e os botões "Salvar" e "Cancelar".*@

        <div class="d-flex justify-content-between alignalign-items-center mb-5">

            @*Título da página (à esquerda).*@

            <h3>Editar Livro</h3>

            @*Botões "Salvar" e "Cancelar" (à direita).*@

            <div>

                <button id="save-button" type="submit" class="btn btn-success left" style="width:200px;margin-right:10px">Salvar</button>

                <a id="cancel-button" class="btn btn-primary left" style="width:200px" asp-controller="Book" asp-action="Manage">Cancelar</a>

            </div>

        </div>


        <input type="hidden" asp-for="Id"/>


        @*Renderiza o layout para edição dos atributos de um livro.*@

        @{
            await Html.RenderPartialAsync("~/Views/Book/_BookPartial.cshtml", Model);
        }
        

    </form>


</div>


@section Scripts {

    <script type="module" src="~/js/edit-book.js" asp-append-version="true"></script>
        
    <script type="module" src="~/js/decode-cover.js" asp-append-version="true"></script>

}