@model BookModel

@using Library.Utils;

@{
    ViewData["title"] = "Editar Livro";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/register-book.css" asp-append-version="true" />
</head>

<body>

    <div class="conteiner">

        @if (TempData[Constants.error_message] != null) {
            <div class="alert alert-danger text-black" role="alert">
                @TempData[Constants.error_message]
            </div>
        }

        <div class="mb-1">
            <h3 class="text-black">Editar Livro</h3>
        </div>

        <div class="mb-5"></div>

        <form method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="Edit">

            <input type="hidden" asp-for="Id"/>

            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" asp-for="Title" id="title" placeholder="Título do livro">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        
            <div class="mb-3">
                <label for="subtitle" class="form-label">Subtítulo</label>
                <input type="text" class="form-control" asp-for="Subtitle" id="subtitle" placeholder="Subtítulo do livro">
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Autor</label>
                <input type="text" class="form-control" asp-for="Author" id="author" placeholder="Autor do livro">
                <span class="text-danger" asp-validation-for="Author"></span>
            </div>

            <div class="mb-3">
                <label for="publisher" class="form-label">Editora</label>
                <input type="text" class="form-control" asp-for="Publisher" id="publisher" placeholder="Editora do livro">
                <span class="text-danger" asp-validation-for="Publisher"></span>
            </div>

            <div class="row g-3" display="flex">

                <div class="mb-3 col-sm-2">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" asp-for="Isbn" id="isbn" placeholder="ISBN do livro">
                    <span class="text-danger" asp-validation-for="Isbn"></span>
                </div>

                <div class="mb-3 col-sm-2">
                    <label for="edition" class="form-label">Edição</label>
                    <input type="number" min="1" class="form-control" asp-for="Edition" id="edition" placeholder="Número da edição">
                    <span class="text-danger" asp-validation-for="Edition"></span>
                </div>

                <div class="mb-3 col-sm-2">
                    <label for="volume" class="form-label">Volume</label>
                    <input type="number" min="1" class="form-control" asp-for="Volume" id="volume" placeholder="Número do volume">
                    <span class="text-danger" asp-validation-for="Volume"></span>
                </div>

                <div class="mb-3 col-sm-2">
                    <label for="release-year" class="form-label">Ano de lançamento</label>
                    <input type="number" min="1" class="form-control" asp-for="ReleaseYear" id="release-year" placeholder="Ano de lançamento do livro">
                    <span class="text-danger" asp-validation-for="ReleaseYear"></span>
                </div>

                <div class="mb-3 col-sm-2">
                    <label for="num-of-pages" class="form-label">Número de páginas</label>
                    <input type="number" min="1" class="form-control" asp-for="NumberOfPages" id="num-of-pages" placeholder="Número de páginas do livro">
                    <span class="text-danger" asp-validation-for="NumberOfPages"></span>
                </div>

                <div class="mb-3 col-sm-2">
                    <label for="acquisition-date" class="form-label">Data da aquisição</label>
                    <input type="datetime-local" class="form-control" asp-for="AcquisitionDate" id="acquisition-date">
                    <span class="text-danger" asp-validation-for="AcquisitionDate"></span>
                </div>

            </div>

            <div class="mb-3">
                <label for="summary" class="form-label">Sinopse</label>
                <textarea id="summary" class="form-control" style="resize:none" asp-for="Summary" rows="10" cols="50" placeholder="Sinopse do livro"></textarea>
            </div>

            <div class="mb-3">
                <label for="cover" class="form-label">Capa</label>
                <input class="form-control mb-3" type="file" accept="image/*" id="choose-file" name="choose-file" />
                <span class="text-danger" asp-validation-for="Cover"></span>
            </div>

            <div class="mb-2" id="img-preview"></div>

            <div class="mb-2" id="img-data" hidden>
                <input class="form-control" asp-for="Cover" id="cover-data">
            </div>
        
            <div class="left gap-2 mt-4">
                <button type="submit" class="btn btn-success left" style="width:200px;margin-right:10px">Salvar</button>
                <a class="btn btn-primary left" style="width:200px" asp-controller="Book" asp-action="Manage">Cancelar</a>
            </div>

        </form>

    </div>

    <script type="module" src="~/js/edit-book.js" asp-append-version="true"></script>
    <script type="module" src="~/js/decode-cover.js" asp-append-version="true"></script>

</body>