@model BookModel

@{
    ViewData["Title"] = "Detalhes do Livro";
}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="utf-8"/>
    
    <link rel="stylesheet" href="~/css/book-details.css" asp-append-version="false"/>

</head>

<body>

    <div id="book-details" class="container">

        <div id="img-preview" class="mb-2"></div>

        <div id="book-data" class="text">
            
            <p><b>Título:</b></p>
            
            <p><b>Subtítulo:</b></p>
            
            <p><b>Autor:</b></p>
            
            <p><b>Editora:</b></p>
            
            <p><b>ISBN:</b></p>
            
            <p><b>Edição:</b></p>
            
            <p><b>Volume:</b></p>
            
            <p><b>Núm. de Páginas:</b></p>
            
            <p><b>Ano da Publicação:</b></p>
            
            <p><b>Data da Aquisição:</b></p>
            
            <p><b>Sinopse:</b></p>

        </div>
      
    </div>

</body>