
/*Estilos utilizados pelas páginas ~\Views\Book\Details.cshtml e ~\Views\Book\Empty.cshtml*/


#img-preview {
    width: 320px;
    height: 470px;
    margin-top: 25px;
    border: 1px solid #282828;
}


#button-first, #button-previous, #button-next, #button-last, #button-filter, #button-filter, #button-print {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    display: flex;
    width: 38px;
    height: 38px;
    text-align: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    cursor: pointer;
}


#nav-buttons {
    margin-top: 15px;
    display: flex;
}