#img-preview {
    border-radius: 5px;
    background-color: #fdfdfd;
    padding: 20px;
    border: 1px solid #cccc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
}