
/*
    Estilos utilizados pelas páginas que exibem miniaturas da capa do livro. Por exemplo,
    a página de cadastro e de edição de um livro (~\Views\Book\Register.cshtml e
    ~\Views\Book\Edit.cshtml) contém uma miniatura da capa associada a um campo de seleção
    de arquivo.
*/


#img-preview {
    border-radius: 5px;
    background-color: #fdfdfd;
    padding: 20px;
    border: 1px solid #cccc;
}


#img-preview .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}